<div id="newQuote">
<h2>
   New Quote 
</h2>

   <span class="dets">share quote</span>
   <br>
   <div class="container-fluid">
    <form #quoteForm = 'ngForm' (ngSubmit) = 'postNewQuote()' >

      <div class="form-group">
             <label for="author"> Name of Author: </label>
             <input type = 'text' id="authorName" class="form-control" [(ngModel)] = 'latestPost.author' name = 'author' #aName = 'ngModel' required>
          <div [hidden] = 'aName.valid || aName.pristine' class="blinker">
             <p id="errorMessage">Field Must Be Filled!</p>
          </div>
      </div>

      <div class="form-group">
            <label for="actQuote"> Quote: </label>
            <textarea rows = "4" id="actQuote" class="form-control" [(ngModel)] = 'latestPost.actQuote' name = 'actQuote' #act = 'ngModel' required></textarea>
         <div [hidden] = 'act.valid || act.pristine' class="blinker">
            <p id="errorMessage">Field Must Be Filled!</p>
         </div>
      </div>
      
      <button type="submit" class="btn btn-warning"> Post Quote </button>
    </form>
   </div>

</div>