<div class="container-fluid">
<div id="header">
   <h1> robert mugabe quotes</h1>
   <h4> </h4>
   <hr>
 </div>

<h2 id="personalDetails">
   <span class="accHeader"> Account Details: </span>
</h2>

<div id="profilePic">

</div>

<div id="accDetails">
      Username:   <span class="details">{{ username }}</span> <br><br>
      Name:   <span class="details">{{ name }}</span> <br><br>
      Bio:   <span class="details">The harder you work for something, the greater you’ll feel when you achieve it. <br><br>
         This is because success doesn't find you. You have to go and get it.</span> <br><br>
      
</div>
</div>
