<div class="container-fluid">
<div id="header">
   <h1> robert mugabe quotes</h1>
   <h4>wise and witty words from an infamous icon </h4>
   <hr>
 </div>

<h2 id="personalDetails">
   <span class="accHeader"> Account Details: </span>
</h2>

<div id="profilePic">

</div>

<div id="accDetails">
      Username:   <span class="details">{{ username }}</span> <br><br>
      Name:   <span class="details">{{ name }}</span> <br><br>
      Bio:   <span class="details"> Sometimes you look back at girls you spent money on, rather than send it to your mum, and you realise witchcraft is real.</span> <br><br>
      
</div>
</div>
