#newQuote{
   background: url('../../assets/quote.jpg');
   background-size: fill;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   width: 100%;
   color: white;
   padding: 10px;
}

h2{
   padding: 15px;
}

#postedQuotes{
   background-color: teal;
   padding: 10px;
   margin: 10px;
   border-radius: 15px;
}

.index{
   background-color: white;
   border-radius: 15px;
   font-size: small;
   padding: 3px;
   color: teal;
}

.delete{
   float: right;
   padding: 5px;
}

.time{
   margin: 10px;
   background-color: white;
   border-radius: 15px;
   font-size: small;
   padding: 5px;
   color: teal;
}

.quote{
   font-style: italic;
   font-family: 'Courier New', Courier, monospace;
   padding: 5px;
}

.reaction{
   cursor: pointer;
   padding: 5px;
   margin: 5px;
}

.mouseClick{
   padding-left: 50%;
}

img{
   cursor: pointer;
}