<div onload="getTime()" id="newQuote">
<app-new-quote (newQuote) = "postedNewQuote($event)"></app-new-quote>

<div class="container">
   <hr>
   <h2><span style="padding: 5px; border-bottom: 2px solid wheat;">Your shared Quotes </span></h2>
      <span style="text-align: center; font-style: italic;">You have a total of {{ quotes.length }} shared quotes</span>
      <div *ngFor ='let quote of quotes; let i = index' id='postedQuotes'>
         <span class="index">{{quote.id}}</span> <span class="delete"> <span class="time">{{ quote.timePosted }}</span>
            <img (click)='deleteQuote(i)' src="../../assets/delete.png" height="20px" width="20px"> </span> <br><br>

         "<span class="quote">{{quote.actQuote}}</span>"<br>
            <br>
         <span class="mouseClick">
            <img (click)='toggleDetails(i)' class="mouse" src="../../assets/mouse_click.png" height="20px" width="15px">
         </span>
         <app-quote-details *ngIf='quote.additionalInfo' [quotes]='quote'></app-quote-details>

      </div>
   <hr>
</div>
</div>

