#addInfo{
   margin-top: 10px;
   background-color: rgb(236, 225, 225);
   color: rgb(177, 243, 243);
   padding: 10px;
   border-radius: 15px;
}

.author{
   padding: 3px;
   padding-top: 5px;
   border-bottom: 2px solid rgb(108, 168, 236);
}

.reactions{
   margin-left: 69%;  
}

img{
   padding: 0px 10px 0px 10px;
}

.thumbsup, .thumbsdown{
   background-color: black;
   border-radius: 15px;
   font-size: small;
   padding: 3px;
   color: teal;
}
