<div class="container-fluid">
 <div id="addInfo">
   Quote by: <span class="author">{{ quotes.author }}</span> <br>
   Posted by: <span class="author"> Daniel Githiomi</span>
   
   <span class="reactions">
      <img  (click)='addUpVote()' src="../../assets/thumbsup.png" height="25px" width="40px" ><span class="thumbsup">{{ quotes.upVote }}</span>
      <img (click)='addDownVote()' src="../../assets/thumbsdown.png" height="25px" width="40px"><span class="thumbsdown">{{ quotes.downVote }}</span>
   </span>
   
 </div>
</div>
